@use 'variables' as *;

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
}

body {
  font-family: $font-mono;
}

code, kbd, pre {
  font-family: $font-mono;
}
